RewriteEngine On

# Ensure Authorization headers are passed to PHP
RewriteCond %{HTTP:Authentication} .
RewriteRule .* - [E=HTTP_AUTHENTICATION:%{HTTP:Authentication}]


# Only rewrite if not a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route all requests to rest/index.php
RewriteRule ^(.*)$ rest/index.php [QSA,L]